body {
    color: black; background-color: white;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 0em 0;
    text-align: center;  
	color:white;
}
  
body { 
    overflow:hidden; 
}  
  
div#Login {
    float:right;
    width:250;
    height:270;
    margin-right:100;
    margin-top:80;
    color:white;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom:2px solid black;
    border-bottom-left-radius:30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image:url(../img/bg.gif); background-repeat:repeat; background-position:center top;
    background-attachment:scroll;   
}

div#Seite {
    text-align: left;    
    margin: 0 auto;      
    width: 760px;
    padding: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    color: white; background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image:url(); background-repeat:no-repeat; background-position:center top;
    background-attachment:scroll;
}

h3 {
    font-size: 1.5em;
    margin: 0 0; padding: 0.3em;
    text-align: left;
    color: red;
}

h1 {
    font-size: 1.5em;
    margin: 0; padding: 1.2em;
    text-align: center;
    height: 30px;
    color: white;
    background: black url(../img/header3.png) no-repeat 100% 45%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

ul#Navigation {
    font-size: 0.83em;
    float: center;
    height: 50px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin: 0 0 0em; padding: 0;
    color: white; background-color: black;
    background-image:url(../img/links2.jpg);background-position:center top;
    background-attachment:scroll;    
}

div#Inhalt {
    margin: 0 0 0em 0px;	
    height: 760px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 0 0em;
    color: white; background-color: black;
    background-image:url(../img/background2.jpg); background-repeat:no-repeat; background-position:center top;
    background-attachment:scroll;
	overflow:auto;
}

* html div#Inhalt {
    color: white;
    height: 1em;  
    margin-left:20px;
    margin-bottom: 0;
}

div#Inhalt h2 {
    font-size: 1.3em;
    margin: 0.2em 0;
    margin-left:20px;
    color: white;
 }

 div#Inhalt p {
    font-size: 1em;
    margin: 1em 0;
    margin-left:20px;
    color: white;
}

p#Fusszeile {
    clear: both;
    font-size: 0.83em;
    margin: 0; padding: 0.1em;
    text-align: right;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color:white;
}

a:link { text-decoration:none; font-weight:bold; color:#800000; }
a:visited { text-decoration:none; font-weight:bold; color:#800000; }
a:focus { text-decoration:none; font-weight:bold; background-color:#080; }

.impressum  {
    float: left;
    margin: 1em;
    text-align: left;
}