* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-image:url(../img/background.png);
    background-attachment: fixed;    
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:active {
    color: #A52A00;
}

a:hover {
    color: #D9AE09;
}

.main-header img {
    max-width: 100%;
}

.main-nav {
    width: 100%;
    margin: 0;
    background-image:url(../img/links2.jpg);
    background-position:center top;
}

.main-nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5px 0 5px 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.main-nav ul li {
    display: inline;
    margin: 0 5px 0 0;
}

.main-nav ul li:last-child {
    display: none;
}

.show-menue {
   display: none;
}

.main-content, .main-footer {
    padding: 5px;
}

.main-content {
    width: 100%;
    background-image:url(../img/background2.jpg);
    color: white;
}

.main-content td {
    color: white;
}

.main-content img {
    max-width: 100%;
}

.main-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white
}

.row {
    max-width: 760px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-bar {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.side-bar-content {
    background-image:url(../img/bg.gif); background-repeat:repeat; background-position:center top;
    padding: 0 5px 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form td {
    color: white;
}

.side-bar .header-break img {
    width: 304%; 
    opacity: 0;
}

.server-state .online {
    color: green;
}

.server-state .offline {
    color: red;
}

.server-state .loading {
    color: orange;
}

.login-form td input, .register-form td input {
    margin-left: 10px;
    width: 155px;
}

.account-mobile {
    display: none;
}

.admin-users {
    width: 100%;
    border-collapse: collapse;
}

.admin-users th {
    color: #A52A00;
    text-align: left;
}

.admin-users td {
    border: none;
}

.admin-users tr.highlighted {
    background-color: #D9AE09;
}

.highlight {
    color: #D9AE09;
}

/* MEDIA QUERIES */

/* tablets */
@media screen and (max-width: 956px) {
    .side-bar {
        display: none;
    }

    .main-nav ul li:last-child {
        display: inline;
    }
}

/* mobiles */
@media screen and (max-width: 691px) {
    .main-nav {
        padding: 0 5px;
    }

    
    
    .show-menue {
        display: inline;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }

    .show-menue a {
        float: right;
        color: white;        
    }

    .main-nav ul {
        display: none;
    }

    .main-nav ul li {
        width: 51%;
        text-align: center;
        margin: 5px 0;
    }

    .main-nav ul.display {
        display: flex;
    }
    
    .main-header img {
        min-width: 125%;
        position: relative;
        left: -12.5%;
    }
}